<div class="container ">

<input type="text" class="form-control" #nuevoDia>

<button class="btn btn-danger" (click)="dia = nuevoDia.value">ver dias de la semana</button>

    <div [ngSwitch]="dia" *ngIf="dia">
        <span *ngSwitchCase="'1'">Lunes</span>
        <span *ngSwitchCase="'2'">Martes</span>
        <span *ngSwitchCase="'3'">Miercoles</span>
        <span *ngSwitchCase="'4'">Jueves</span>
        <span *ngSwitchCase="'5'">Viernes</span>
        <span *ngSwitchCase="'6'">Sabado</span>
        <span *ngSwitchCase="'7'">Domingo</span>
        <span *NgSwitchDefault>valor no valido</span>

      
    </div>
 
</div>
